/*

Nombre:
Miguel Damborenea Terreros
   
Fecha: 
29/11/2023

Nombre del fichero: 
reseñapotter.html
   
UD: 
Lenguaje de marcas y sistemas de gestión de la información 02 (DAM)
   
Tarea: 
Tarea Evaluación 02: Sitio Web.
*/

/*Configuración de estilos generales*/
header, nav, section, aside {
	background-color: #007562;
	border-radius: 5px;
	padding: 10px;
	font-size: 150%;
	margin: 5px;
	text-align: center;
}

nav, section, aside {
	color: gold;
}

header, #secciongeneros, #introduccion, .reseña, .estiloformulario {
	background-color: burlywood;
	border: 5px solid #007562;
}

#introduccion, #redessociales {
	text-align: start;
	color: black;
	width: 80%;
}

body {
	background-image: url('../Multimedia/fondo.jpg');
}

header, .reseña, .estiloformulario{
	color: black;
}

.reseña {
	align-items: baseline;
	text-align: justify;
}

/*Configuración de enlaces*/
a {
	color: gold;
	text-decoration: none;
}

a:hover {
	color: yellow;
}

#leermas {
	text-align: right;
}

/*Configuración de flex y dimensiones*/
#seccionprincipal {
	display: flex;
	flex-direction: row;
}

#seccionnavegacion {
	display: flex;
	justify-content: space-evenly;
}

#secciongeneros {
	flex-basis: 20%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.genero {
	width: 50%;
	padding: 50px;
	font-size: 150%;
}

#menu {
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#contenedorimagen {
	height: 100%;
	width: 100%;
	flex-basis: 50%;
	display: flex;
	flex-direction: row;
}

.tamañoinforeseña, .tamañoautorreseña {
	margin: initial;
}

.tamañoinforeseña {
	font-size: 0.9em;
}

.tamañoautorreseña {
	font-size: 0.7em;
}

#redessociales {
	flex-basis: 20%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	color: gold;
}

.contenedoriconorrss {
	width: 50%;
	margin: inherit;
}

.iconorrss {
	width: 50px;
}

footer {
	background-color: #007562;
	color: gold;
	padding: 5px;
	text-align: center;
	position: relative;
}

/*Configuración imagenes*/
.floatarticulos {
	float: right;
	width: 200px;
}

.floatintroduccion {
	width: 150%;
	height: 150%;
	object-fit: fill;
	object-position: right;
}

.imagenlogo1 {
	width: 100px;
	float: left;
}

.imagenlogo2 {
	width: 100px;
	float: right;
}

.imagenreseña {
	width: 200px;
	position: absolute;
	align-self: end;
}

/*Configuración de formulario*/
.reseña, .estiloformulario {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 15px;
}

.estiloformulario {
	align-items: center;
	flex-basis: 30%;
	text-align: initial;
}

.camposformulario {
	width: 90%;
	padding: 10px;
	border: 0px;
	border-radius: 8px;
}

.botonenviar {
	width: 90%;
	padding: 10px;
	border: 0px;
	border-radius: 8px;
	background-color: lightseagreen;
	color: gold;
	border: 5px solid #007562;
}

.botonenviar:hover {
	background-color: springgreen;
	color: yellow;
}